<div class="form-row">
  <div class="form-group col-md-12">
    <%= f.label t(".start_date") %>
    <div>
      <%= f.date_field :start_date, class: "select optional form-control", data: {provide: "datepicker"}, required: true%>
    </div>
  </div>
  <div class="form-group col-md-12">
      <%= f.label t(".end_date") %>
      <div>
        <%= f.date_field :end_date,  class: "select optional form-control", data: {provide: "datepicker"}, required: true %>
      </div>
  </div>
</div>
