@import 'abstract/_variables.scss';
@import 'libs/all.css';
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  font-family: "roboto";
}

@font-face {
  font-family: roboto;
  src: url("./Roboto-Regular.ttf");
}

#navbar-header {
  position: fixed !important;
  margin-left: 278px !important;
}

.container {
  width: 70%;
  margin: auto;
  padding: 0 60px;
  justify-content: space-between;
}

header {
  z-index: 100;
  width: 100%;
  background-color: white; 
  display: flex;
}

header .logo a {
  font-size: 30px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  margin: 20px 10px 15px 0;
  text-decoration: none;
  color: $black-1;
}

header .navbar {
  width: 400px;
  height: auto;
}
header .navbar ul {
  display: flex;
  list-style: none;
  font-size: 18px;
  margin: 25px 10px 15px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
}

header .navbar ul li {
  margin: 0 10px;
  min-width: 80px;
}

header .navbar ul li a {
  text-decoration: none;
  color: $gray-1;
  position: relative;
  transition: 0.4s;
}

header .navbar ul li a:hover {
  border-bottom: 1px solid black;
  transition: 0.4s;
}

#app header .saved a {
  display: inline-block;
  list-style: none;
  font-size: 18px;
  margin: 25px 10px 15px 0px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  text-decoration: none;
  color: $gray-1;
}

#app header .saved .logout_button {
  float: right !important;
  padding-right: 0 !important;
}

header .saved a i {
  color: $gray-medium-light-3;
}

header .contactUs a {
  display: inline-block;
  list-style: none;
  font-size: 18px;
  margin: 25px 10px 15px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  text-decoration: none;
  color: $gray-1;
}

section.ray-page .ray-breadcrumbs {
  list-style: none;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  font-size: 14px;
}

section.ray-page .ray-breadcrumbs .ray-breadcrumb a {
  color: black;
  text-decoration: none;
}

section.content {
  margin-top: 70px;
}

section.content .header {
  display: flex;
  justify-content: space-between;
}

section.content .header .header__right h1 {
  font-size: 50px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
}

section.content .header .header__right span {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  padding: -0.25rem 1rem 0.75rem 1rem;
  color: $header-border;
  border-radius: 50px;
  border: 1px solid $header-border;
}

section.content .header .header__left p {
  display: inline-block;
  margin-top: 80px;
  font-size: 18px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
}

section.content .main {
  margin: 20px 0 20px 0;
  display: flex;
}

section.content .main .main__left {
  width: 60%;
}

section.content .main .main__left .products {
  display: flex;
  flex-wrap: wrap;
}

section.content .main .main__left .products .product {
  width: 47.5%;
  margin-right: 2%;
  border: 1px solid $gray-medium-light-3;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}

section.content .main .main__left .products .product img {
  width: 100%;
}

section.content .main .main__left .products .product .product__title {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

section.content .main .main__left .products .product .product__title a {
  color: $purple-link;
  text-decoration: none;
  font-size: 18px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
}

section.content .main .main__left .products .product .product__title a:hover {
  text-decoration: underline;
  color: $purple-link-hover;
}

section.content .main .main__left .products .product .product__title i {
  color: $yellow-1;
}

section.content .main .main__left .products .product .product__text {
  font-size: 14px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

section.content .main .main__left .products .product h2 {
  font-size: 20px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  margin: 20px;
}

section.content .main .main__left .products .product .text__header {
  font-size: 16px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  margin: 20px;
}

section.content .main .main__left .products .product form input {
  display: block;
  margin: 30px;
  padding: 10px 70px 10px 10px;
  font-size: 16px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
}

section.content .main .main__left .products .product .link {
  font-size: 16px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  text-decoration: none;
  color: $link;
  margin: 30px;
  padding: 10px 20px;
  border: 1px solid $link;
  border-radius: 5px;
}

section.content .main .main__left .products .product .link:hover {
  background: $purple-1;
}

section.content .main .main__left .products .product .text__footer {
  font-size: 12px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  margin: 30px;
  line-height: 20px;
}

section.content .main .main__left .products .product .text__footer a {
  text-decoration: none;
}

section.content .main .main__left .products .footer {
  width: 97.5%;
  margin-top: 20px;
  border: 1px solid $gray-medium-light-3;
  border-radius: 10px;
  background: $gray-medium-light-3;
}

section.content .main .main__left .products .footer h2 {
  font-size: 20px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  margin: 20px 10px 10px 20px;
}

section.content .main .main__left .products .footer .text__header {
  font-size: 14px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  margin: 20px 10px 10px 20px;
}

section.content .main .main__left .products .footer i {
  font-size: 14px;
  margin: 20px 10px 10px 20px;
}

section.content .main .main__left .text h2 {
  font-size: 25px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  margin: 20px 20px 20px 0;
}

section.content .main .main__left .text p {
  font-size: 16px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  margin: 20px 20px 20px 0;
  line-height: 30px;
}

section.content .main .main__left .text a {
  font-size: 16px;
  font-family: "Apercu", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Calibri", "Roboto", Arial, sans-serif;
  margin: 20px 20px 20px 0;
  text-decoration: none;
  color: $purple-link;
}

section.content .main .main__right {
  width: 40%;
}

.navbar-right {
  padding-right: 0;
  width: auto;
}

.dropdown-menu .dropdown-menu-right .p-0{
  .dropdown-item {
    padding: 0 !important;
    margin: 0 !important;
  }
}

#language-dropdown {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 170px;
  margin-top: 5px;
}

.home_main_right {
  margin-top: 20px !important;
}

.user_navbar_header_left {
  display: flex;
  align-items: center;
}

.login_btn {
  float: right;
}

.slot_status {
  padding-bottom: 7px;
  justify-content: center;
  padding-top: 7px;
}

.form-control {
  width: 95%;
}

.noti {
  display: none;
}
